xsd/empleados_schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="empleado">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:int" name="empID"/>
                <xs:element type="xs:string" name="empName"/>
                <xs:element type="xs:string" name="empEmail"/>
                <xs:element type="xs:string" name="empStatus"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>